body {
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

div {
	float: left;
	font-size: 20px;
	margin-bottom: 0;
} 

p{
	color: #5E5E5E;
	position: absolute;
	bottom: -17px;
	padding: 10px;
	font-size: 18px;
}
a {
	text-decoration: none;
}
hr {
	position: relative;
	top: -25px;
	width: 1350px;
	border-top: 0.1px solid #B5B5B5;
	margin-left: 0;
}

.search {
	background: #EFEFEF;
	border-radius: 4px;
	width: 700px;
	height: 40px;
	margin: 0;
	position: relative;
}
.more {
	background: #EFEFEF;
	border-radius: 2%;
	width: 170px;
	height: 40px;
	border-left: 1px solid #d8d8d8;
    border-radius: 0 4px 4px 0;
    position: relative;
}
#buscador {
	left: 50px;
}
.fa {
	color: #B5B5B5;
}
.fa-pinterest {
	color: #BD081C;
	font-size: 33px;
	margin-right: 25px;
	margin-left: 15px;
}
.fa-search {
	padding-left: 20px;
	padding-top: 10px;
}
.fa-times {
	position: absolute;
	left: 670px;
	top: 10px;
}
.fa-angle-down {
	color: #5E5E5E;
	font-size: 25px;
	margin-left: 150px;
	margin-top: 10px;
	margin-right: 10px;
	position: absolute;
	right: 3px;
}
.fa-times:hover {
	color: #5E5E5E;
}
.icons {
	position: relative;
	font-size: 25px;
	top: 5px;
}
.fa-user {
	margin-left: 40px;
}
.fa-bars {
	position: relative;
	font-size: 28px;
	left: 25px;
	top: 5px;
}
.fa-commenting {
	position: relative;
	left: 50px;
}
.fa-ellipsis-h {
	position: relative;
	font-size: 28px;
	left: 80px;
	top: 8px;
}
.inicio {
	color: #B5B5B5;
	margin-left: 30px;
	position: relative;
	bottom: 20px;
}
.users {
	color: #B5B5B5;
	position: relative;
	top: -25px;
}
.inicio:hover {
	background-color: #F0F0F0;
	border-radius: 30%;
}
.users:hover {
	background-color: #F0F0F0;
	border-radius: 30%;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 50px;
	overflow: auto;
}
li {
	background: #98837F;
	/*background-image: url(https://s-media-cache-ak0.pinimg.com/111x55_sf-76/75/07/fb/7507fba….jpg); */
	border-radius: 10%;
	margin-top: 0;
	margin-left: 20px;
	width: auto;
	text-align: center;
	float: left;
	padding: 5px;
	opacity: 0.5;
	background-image: url(https://s-media-cache-ak0.pinimg.com/111x55_sf-76/93/ca/23/93ca239….jpg);
}
li a {
	color: #FFF;
	display: block;
	font-size: 14px;
}
.fa-angle-right {
	font-size: 20px;
	color: #FFF;
}
.image {
	position: relative;
	margin-top: 30px;
	margin-left: 40px;
	margin-right: 20px;
	width: 1275px;
	height: auto;
}

 .filas{
 	float: left;
 	width: 255px;
 	margin-bottom: 30px;
 }


img {
	border-radius: 8px;
	margin-bottom: 30px;
}
img:hover{
	cursor:zoom-in;
}


